<div class="container">
    <h3>LogIn</h3>
    <p>Please Select RespectiveTab</p>
    <form>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" type="button" style="cursor: pointer;" (click)="emplogin()">emplogin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" style="cursor:pointer;" (click)="recrlogin()">recruiterlogin</a>
            </li>
        </ul>
    </form>
    <router-outlet></router-outlet>
</div>